.card {
    background: #eee;
    color: #111;
    padding: 1rem;
    text-decoration: none;
}

.card__image {
    width: 100%;
}

.card__price-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.card__discount {
    text-decoration: line-through;
    color: #999;
}